
<!DOCTYPE html>

<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

{% extends 'base.html' %}

{% block content%}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
   the search term to the query string -->
    <p>
        Search for a Gif
        <input type="text" gif_list = gif_json/>
        <button type="submit">Submit</button>
    </p>
{% endblock %}


<!--object.results.media.url -->


<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->
{% for gif in gif_json %}
<!-- TODO: For each gif, include the 'gif.html' template to display it -->
{% include 'gif.html' %}
{% endfor %}
